<div class="panel panel-default">
	<div class="panel-heading">Edit Discussion</div>
	<div class="panel-body"> 

		<%= render 'form', discussion: @discussion %>

		<%= link_to 'Show', @discussion,:class=>"btn btn-info" %>
		<%= link_to 'Back', discussions_path,:class=>"btn btn-info" %>

	</div>
</div>