<p id="notice"><%= notice %></p>

<div class="panel panel-default">
	<div class="panel-heading">Profile</div>
	<div class="panel-body"> 

		<p>
			<strong>Email:</strong>
			<%= @account.email %>
		</p>

		<p>
			<strong>Password:</strong>
			<%= @account.password %>
		</p>

		<%= link_to 'Edit', edit_account_path(@account),:class=>"btn btn-info" %>

	</div>
</div>